#h1 #h3
    { font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    }


#nav
    {
    display: inline-flexbox;
    width: 100%;
    margin: 100px;
    border-width: 2ch;
    border-color: blanchedalmond;
    text-align: center;
    }

#section
    {
    display: block;
    border-width: 2px;
    border-style: dotted;
    border-spacing: 2ch;
    }

#div
    {
    display: block;
    padding: 40ch;
    }